<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <link href="@/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
<body>
        <header th:replace="layout/plantilla :: header" />
        <div class="contenido">
            <h2>Listado de articulos</h2>
            <a th:href="@{/articulo/nuevo}">Nuevo Articulo</a>
        <div th:if="${articulos != null and !articulos.empty}">
        <table border="1">
            <thead>
                <tr>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Existencias</th>
                    <th>Activo</th>
                    <th>Modificar</th><!-- comment -->
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:each="item : ${articulos}"></td>
                    <td th:text="${item.descripcion}"></td>
                    <td th:text="${#numbers.formatDecimal(item.precio, 3, 2)}"></td>
                    <td th:text="${item.existencias}"></td><!-- comment -->
                    <td><input type="checkbox" name="activo" th:checked="${item.activo}"disabled/></td>
                    <td><a th:ref="@{/articulo/modificar}+${ietm.idArticulo}">Modificar</a></td>
                    <td><a th:ref="@{/articulo/eliminar}+${ietm.idArticulo}">Eliminar</a></td>

                </tr>
            </tbody>
        </table>
        </div>
        
        <div th:if="${articulos == null or articulos.empty}">
            La lista de articulos esta vacia
            </div>
            </div>
        <footer th:replace="layout/plantilla :: footer" />
    </body>
</html>
