<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <link href="@/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />
        <div class="contenido">
            <h2 th:text="#{articulo.datos}"> Datos del Articulo </h2>
            <a th:href="@{/articulo/listado}" th:text="#{accion.modificar}">Modificar Articulo</a>
            <br/>
            <br/>
            <form th:action="@{/articulo/guardar}"            
                  method="post"            
                  th:object="${articulo}">   
                <input type="hidden" name="idArticulo" th:field="*{idArticulo}"/>
                <label for="categoria">Categoria:</label>
                <select th:field="*{idCategoria}">
                    <option th:each="categoria: ${categorias}"
                            th:value="${categoria.idCategoria}"
                            th:text="${categoria.descripcion}"/>
                </select>
                <label for="descripcion" th:text="#{articulo.descripcion}">Descripcion: </label>            
                <input type="text" name="descripcion" th:field="*{descripcion}" />            
                <br>      
                <label for="detalle" th:text="#{articulo.detalle}">Detalle: </label>            
                <input type="text" name="detalle" th:field="*{detalle}" />            
                <br>
                <label for="precio" th:text="#{articulo.precio}">Precio: </label>            
                <input type="number" name="precio" th:field="*{precio}" />            
                <br>            
                <label for="existencias" th:text="#{articulo.existencias}">Existencias: </label>            
                <input type="number" name="existencias" th:field="*{existencias}" />            
                <br>   
                <label for="activo" th:text="#{articulo.activo}">Activo: </label>            
                <td><input type="checkbox" name="activo" th:checked="${item.activo}"disabled />  </td>          
                <br> 
                <button type="submit" name="Guardar" th:text="#{accion.guardar}" />        
            </form> 
        </div>
        <footer th:replace="layout/plantilla :: footer" />
    </body>
</html>