<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>TechaShop</title>
        <meta charset="UTF-8">
        
    </head>
    <body>
        <header th:gragment="header">
            <h1 style="color:blue;">TechShop</h1>
        </header>
        <footer th:fragment="footer">
            <p>
                &COPY; [[#{plantilla.derechos}]]
                <a th:href="@{/(lang=es)}"> ES</a>
                <a th:href="@{/(lang=en)}"> ES</a>
            </p>
        </footer>
    </body>
</html>
