<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <link href="@/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />
        <div class="contenido"><!-- comment -->
            <h2> Listado de Categorias </h2><!-- comment -->
            <a th:href="@{/categoria/nuevo}"
               th:text"#{plantilla.categoria}">Nueva Categoria</a>
        <div th:if="${categorias != null and !categorias.empty}">         
            <table border="1">
                <thead>
                    <tr>
                        <th>Descripcion</th>
                        <th>Activo</th>
                        <th>Modificar</th><!-- comment -->
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item: ${categorias}">
                        <td th:text="${item.descripcion}"></td>
                        <td><input type="checkbox" name="activo" th:checked="${item.activo}"disabled/></td>
                        <td><a th:ref="@{/categoria/modificar}+${ietm.idCategoria}">Modificar</a></td>
                    <td><a th:ref="@{/categoria/eliminar}+${ietm.idCategoria}">Eliminar</a></td>
                    </tr>
                </tbody>
            </table>

        </div>
                    <div th:if="${categorias == null or categorias.empty}">
            La lista de categorias esta vacia
             </div>
        <footer th:replace="layout/plantilla :: footer" />
    </body>
</html>