/* Hoja de estilos de clase 2*/

/* id ...#xxxx*/

#encabezado 

{
    
    position: absolute;
    top: 0;
    left: 0;
    height: 8%;
    width: 100%;
    background-color: blue;
    color: white;
}

#encabezado h1{
    display: inline;
}

#menu {
    position: absolute;
    top: 8%;
    left: 0;
    height: 4%;
    width: 100%;
    background-color: black;
    color: white;
}
#menu a{
    background-color: red;
    color: black;
}

#menu a:hover{
    background-color: green;
    color: white;
}
#barralateral {
    position: absolute;
    top: 12;
    left: 0;
    height: 81%;
    width: 20%;
    background-color: #00ffa0;
    padding: 10px;
}
#contenido {
    position:absolute;
    top: 12%;
    left: 20%;
    height: 81%;
    width: 80%;
    background-color: #7901A0;
    padding: 10px;  
    overflow: auto;
}
#piepagina {
    position:absolute;
    bottom: 0%;
    left: 0%;
    height: 4%;
    width: 100%;
    background-color: #AABB00;
    text-align: center;
}
#encabezadoTabla {
    background-color: blue;
    color: white;
}
#tablaresumen tr:nth-child(odd) {
    background-color: coral;    
    color: blue;
}
#tablaresumen tr:nth-child(even) {
    background-color: white;    
    color: red;
}