
/* 
    
    Author     : nahum
*/
* {
    margin: 0;
    box-sizing: border-box;
}

bodu {
    font-family: sans-serif;
    padding: 90px 20px 0;
}

.header {
    background-color: navy;
    height: 12%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 12vh;
}

.nav-menu {
    display:flex;
    margin-left: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 18px;
    line-height: 12vh;
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 4px;
}

.nav-menu-item:hover {
    font-size: 22px;
    background-color: cornflowerblue;
    transition: 1s;
}

.footer {
    background-color: black;
    text-align: center;
    color: white;
    height: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.contenido {
    background-color: wheat;
    position: fixed;
    top: 80px;
    bottom: 20px;
    left: 0;
    width: 100%;
    overflow: auto;
}
